body {
  user-select: none;
}

#todo-error{
  color: red;
  font-size: 2em;
}

#bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#weather {
  background-color: #fff;
}
.to-do {
  color: #fff;
  background-color: rgb(0, 0, 0);
}
.strike {
  text-decoration: line-through;
  text-decoration-color: red;
}
/* .checkboxes {
  background: transparent;
} */
/* .quotes {
  background-color: rgba(255, 255, 255, 0.514);
} */