body {
  user-select: none;
}

#todo-error{
  color: red;
  font-size: 2em;
}

#bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#weather {
  background-color: rgba(255, 255, 255, 0.418);
}
.greeting {
  font-size: 80px;
}
#quote {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.719);
  font-style: italic;
  padding-top: 30px;
  border-radius: 100px;
}
.jumbotron {
  max-height: 30vh;
}
.display-4 {
  font-size: 2rem;
}
.lead {
  font-size: 1.5rem;
}
.to-do {
  color: #fff;
  background-color: rgb(0, 0, 0);
}
.strike {
  text-decoration: line-through;
  text-decoration-color: red;
}
.checks {
  background: transparent;
  border: none;
}
